*.ncb
*.suo
*.sdf
*.opensdf
*.aps
*.pdb
*.exe
*.msi
*.zip
*.ilk
*.obj
*.user
*.cat
*.sys
*.dll
*.ipch
*.VC.db
Debug/
Release/
Debug(*)/
Release(*)/
Vista Debug/
Vista Release/
Vista Debug(*)/
Vista Release(*)/
Win7 Debug/
Win7 Release/
Win7 Debug(*)/
Win7 Release(*)/
Win7DebugAdmin-onlyMode/
Win7ReleaseAdmin-onlyMode/
sdv/
/installer/vista/
/installer/vista_winpcap/
/installer/win7/
/installer/win7_winpcap/
/installer/win8_above/
/installer/win8_above_winpcap/
/npcap-sdk/
/dox/prj/
/packetWin7/Dll/Project/Debug*/
/packetWin7/Dll/Project/Release*/
/packetWin7/Dll/Project/x64/Debug*/
/packetWin7/Dll/Project/x64/Release*/
/wpcap/PRJ/Debug*/
/wpcap/PRJ/Release*/
*.VC.opendb
!/installer/xp/*/*