*~
*.ncb
*.suo
*.sdf
*.opensdf
*.aps
*.pdb
*.exe
*.msi
*.zip
*.ilk
*.obj
*.user
*.cat
*.sys
*.dll
*.ipch
*.VC.db
Debug/
Release/
Debug No NetMon and AirPcap*/
Release No NetMon and AirPcap*/
Debug(*)/
Release(*)/
OEM Debug/
OEM Release/
OEM Debug No NetMon and AirPcap*/
OEM Release No NetMon and AirPcap*/
OEM Debug(*)/
OEM Release(*)/
Vista Debug/
Vista Release/
Vista Debug(*)/
Vista Release(*)/
Win7 Debug/
Win7 Release/
Win7 Debug(*)/
Win7 Release(*)/
OEM Win7 Debug/
OEM Win7 Release/
OEM Win7 Debug(*)/
OEM Win7 Release(*)/
Win7 Release SDV/
Win7DebugAdmin-onlyMode/
Win7ReleaseAdmin-onlyMode/
sdv/
build.err
build.log
msbuild.log
runsdvui.cmd
SDV-default.xml
sdv-user.sdv
sdv-map.h
staticdv.job
StaticDVTrace.log
npcap.res
/npcap-sdk/
/dox/prj/
*.VC.opendb
